[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rcbayes"]
	path = rcbayes
	url = https://github.com/jessieyeung/rcbayes
	shallow = true
	registered = true
